extends layout

block content
  h1= title
  p EWelcome to #{title}

  table
    thead
      tr
        th Category 1
        th Category 2
        th Category 3
        th Category 4
        th Category 5
        th Category 6
    tbody
      tr
        td Answer 1
        td Answer 2
        td Answer 3
        td Answer 4
        td Answer 5
        td Answer 6

      tr
        td Answer 1
        td Answer 2
        td Answer 3
        td Answer 4
        td Answer 5
        td Answer 6

      tr
        td Answer 1
        td Answer 2
        td Answer 3
        td Answer 4
        td Answer 5
        td Answer 6

      tr
        td Answer 1
        td Answer 2
        td Answer 3
        td Answer 4
        td Answer 5
        td Answer 6

      tr
        td Answer 1
        td Answer 2
        td Answer 3
        td Answer 4
        td Answer 5
        td Answer 6
